<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Information Form</title>
</head>
<body>
    <h2>Hotel Information Form</h2>
    <form th:action="@{/hotels/new}" method="post">
        <label for="name">Hotel Name:</label>
        <input th:field="${hotel.name}" type="text" id="name" name="name" required>
        <br>
        <label for="address">Address:</label>
        <input th:field="${hotel.address}" type="text" id="address" name="address" required>
        <br>
        <label for="numberOfACRooms">Number of AC Rooms:</label>
        <input th:field="${ACRoomDetails.numberOfRooms}" type="number" id="numberOfACRooms" name="numberOfACRooms" required>
        <br>
        <label for="ACAmenities">Amenities:</label>
        <textarea th:field="${ACRoomDetails.amenities}"
            type="text" id="ACAmenities" name="ACAmenities" required></textarea>
        <br>
        <label for="ACpricePerNight">Price per Night(INR):</label>
        <input th:field="${ACRoomDetails.pricePerNight}"
            type="number" id="ACpricePerNight" name="ACpricePerNight" step="0.01" required>
        <br>
        <br>
        <label for="numberOfNonACRooms">Number of Non-AC Rooms:</label>
        <input th:field="${NonACRoomDetails.numberOfRooms}" type="number" id="numberOfNonACRooms" name="numberOfNonACRooms" required>
        <br>
        <label for="NonACamenities">Amenities:</label>
        <textarea th:field="${NonACRoomDetails.amenities}"
            type="text" id="NonACamenities" name="NonACamenities" required></textarea>
        <br>
        <label for="NonACpricePerNight">Price per Night(INR):</label>
        <input th:field="${NonACRoomDetails.pricePerNight}"
            type="number" id="NonACpricePerNight" name="NonACpricePerNight" step="0.01" required>
        <br>
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
