<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Package</title>
    <link rel="stylesheet" href="style.css">
    </head>
<body>
    <h1>Create Package</h1>
    <form action="#" th:action="@{/display_packages/choose_package}" method="post">
        <label for="baseLocation">BaseLocation:</label>
        <input type="text" id="baseLocation" name="baseLocation" required><br><br>
        <!-- <select id="baseLocation" name="baseLocation">
            <option value="Bengaluru">Bengaluru</option>
            <option value="Himachal">Himachal</option>
            <option value="Goa">Goa</option>
            <option value="Mysore">Mysore</option> -->
        <!-- </select> -->
        
        <button type="submit">Choose Location</button>
    </form>
