<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/style_hotel.css"/>

</head>
<body>
    <div class="container">
        <h2 class="mt-3 text-center text-uppercase">Hotel Information</h2>
        <br/>
        <div class="row">
            <div class="col-md-6" th:each="hotelDetails:${allHotelDetails}">
                <div class="card">
                    <p>Hotel Name: &nbsp;&nbsp; <span th:text="${hotelDetails.hotel.name}"></span></p>
                    <p>Hotel address:&nbsp;&nbsp; <span th:text="${hotelDetails.hotel.address}"></span></p>
                    <p>Number of AC Rooms:&nbsp;&nbsp; <span th:text="${hotelDetails.acRoom.numRooms}"></span></p>
                    <p>Price Per Night: &nbsp;&nbsp;Rs.<span th:text="${hotelDetails.acRoom.PricePerNight}"></span></p>
                    <p>Amenities:&nbsp;&nbsp; <span th:text="${hotelDetails.acRoom.amenities}"></span></p>
                    <p>Number of Non-AC Rooms:&nbsp;&nbsp; <span th:text="${hotelDetails.nonACRoom.numRooms}"></span></p>
                    <p>Amenities: &nbsp;&nbsp;<span th:text="${hotelDetails.nonACRoom.amenities}"></span></p>
                    <p>Price Per Night: &nbsp;&nbsp;Rs.<span th:text="${hotelDetails.nonACRoom.PricePerNight}"></span></p>
                    <br>
                    <a th:href="@{/hotels/edit/{id}(id=${hotelDetails.hotel.id})}" class="edit-button">Edit</a>
                    <br>
                    <a class="package-button">Add to package</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
