<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Package</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/style_package.css">
    <script>
        function addHotelSelection() {
            var select = document.createElement("select");
            select.name = "hotels";
            select.innerHTML = '<option value="Hotel A">Hotel Leh Views</option>' +
                               '<option value="Hotel B">Hotel Ladakh Paradise</option>' +
                               '<option value="Hotel C">Hotel C</option>'; // Add more hotel options as needed
            document.getElementById("hotelSelection").appendChild(select);
        }
    </script>
    
</head>
<body>



    <h1 class="text-center">Create Package</h1>
    <form action="#" th:action="@{/package/create_package}" method="post">
        <div class="form-group">
            <label for="packageName">Package name:</label>
            <input type="text" class="form-control" id="packageName" name="packageName" required>
        </div>
        <div class="form-group">
            <label for="baseLocation">Base Location:</label>
            <select class="form-control" id="baseLocation" name="baseLocation">
                <option value="Bengaluru">Bengaluru</option>
                <option value="Chennai">Chennai</option>
                <option value="Himachal">Himachal</option>
                <option value="Goa">Goa</option>
                <option value="Mysore">Mysore</option> 
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create package</button>
    </form>


        <!-- <div id="hotelSelection">
            <select name="hotels">
                <option value="Hotel Leh Views">Hotel Leh Views</option>
                <option value="Hotel B">Ladakh Paradise</option>
            </select>
        </div>
        <button type="button" onclick="addHotelSelection()">Add Hotel</button>
        
        <h2>Select Transport:</h2>
        <select name="transport">
            <option value="Car from Leh to Manali">Car from Leh to Manali</option>
            <option value="Train ABC">Train ABC</option>
        </select>
        
        <button type="submit">Create Package</button>
    </form>
</body> -->
<div class="hotelInfo">
    <h1 class="header-container"> Hotels </h1>
        <div class="cards-container" th:each="hotelDetails:${allHotelDetails}">
            <div class="card">
                
                <p>Hotel Name: &nbsp;&nbsp; <span th:text="${hotelDetails.hotel.name}"></span></p>
                <p>Hotel address:&nbsp;&nbsp; <span th:text="${hotelDetails.hotel.address}"></span></p>
                <p>Number of AC Rooms:&nbsp;&nbsp; <span th:text="${hotelDetails.acRoom.numRooms}"></span></p>
                <p>Price Per Night: &nbsp;&nbsp;Rs.<span th:text="${hotelDetails.acRoom.PricePerNight}"></span></p>
                <p>Amenities:&nbsp;&nbsp; <span th:text="${hotelDetails.acRoom.amenities}"></span></p>
                <p>Number of Non-AC Rooms:&nbsp;&nbsp; <span th:text="${hotelDetails.nonACRoom.numRooms}"></span></p>
                <p>Amenities: &nbsp;&nbsp;<span th:text="${hotelDetails.nonACRoom.amenities}"></span></p>
                <p>Price Per Night: &nbsp;&nbsp;Rs.<span th:text="${hotelDetails.nonACRoom.PricePerNight}"></span></p>
                <!-- <button onclick="addToCart('${hotelDetails}', '${hotelDetails.hotel.baseLocation}')"> Add hotel to package </button> -->
                <!-- </a> -->
                <div class="justify-content align-items-center select-button">
                    <a
                    th:href="@{'/package/' + ${baseLocation} + '/' + ${hotelDetails.hotel.id} + '/add_hotel'}">Select Hotel</a>
                </div>
                <br/>
                <div>
                    <!-- <a th:href="@{/add_hotel/}"> -->
                        <!-- Add hotel to package -->
                    <!-- </a> -->
                </div>
            </div>
            <br/>
        </div>

</div>

<div class="transportInfo">
    <h1 class="header-container"> Transport </h1>
    <div class="cards-container" th:each="transport:${allTransports}">
        <div class="card">
            <p class="attribute" th:text="'Price Per Day: Rs.' + ${transport.pricePerDay}"></p>
            <p class="attribute" th:text="'Vehicle Type: ' + ${transport.vehicleType}"></p>
            <p class="attribute" th:text="'Capacity: ' + ${transport.capacity}"></p>
            <p class="attribute" th:text="'Driver Info: ' + ${transport.driverInfo}"></p>
            <p class = "attribute" th:text="'Base location: ' +${transport.baseLocation}"></p>
            
            <div class="justify-content align-items-center select-button">
                <a class="select-button"
                th:href="@{'/package/' + ${baseLocation} + '/' + ${transport.id} + '/add_transport'}">Add Transport</a>
                
            </div>

            <br/>
            <div>
            </div>
        </div>
        <br/>
    </div>
</div>
<div class="select-button align-items-center">
    <a th:href="@{'/package/' + ${baseLocation} + '/confirm_package'}"> Confirm package! </a>

</div>




    <!-- <table>
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${hotels}">
                <td th:text="${hotel.name}"></td>
                <td th:text="${hotel.address}"></td>
            </tr>
        </tbody>
    </table> -->
    </body>
</html>